:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  padding: 0;
  margin: 0;

  line-height: 1.5;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white
}
body {
  padding: 0;
  margin: 0;
  background-color: #0e0a24

  
   /* background-color: ; */
}

/* html {
  line-height: 1.5;
  scroll-behavior: smooth;
} */

.chat-box {
  margin: 1rem 2rem;
  list-style: none;
  width: fit-content;
  padding: 1rem;
  border-radius: 10px;
}
p,
h2 {
  margin: 0.5rem 0;
}
.input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input > input {
  width: 80%;
  border-radius: 10px;
  border: 1px solid aqua;
  padding: 1rem;
  margin: 0 1rem;
  background-color: #d9e9ed
}
ul {
  display: flex;
  flex-direction: column-reverse;
  width: 95%;
  border-radius: 10px;
  border: 1px solid aqua;
  margin: 0;
}
button {
  border-radius: 10px;
  border-style: none;
  padding: 1rem;
  color: white;
  background-color: #da8608;
  font-weight: 800;
  /* font-size: 1rem; */
  cursor: pointer;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .chat-box {
    margin: 0.1rem 0;
    width: auto;
  }
  h1 {
    font-size: 1rem;
  }
  p {
    font-size: 0.5rem;
  }
  ul {
    padding: 0.1rem;
  }
}
